#CheckboxWrapper {
  overflow: hidden;
  margin: 0 auto;
  max-width: 400px;
  text-align: left;
}

  #CheckboxWrapper label {
    margin-bottom: 10px;
    display: block;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 13pt;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, .8);
    letter-spacing: -1px;
  }

  #CheckboxWrapper .btn-open {
    margin-top: 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: lighter;
    text-decoration: underline;
    font-size: 10pt;
    cursor: pointer;
  }

  #CheckboxWrapper .tag-container {
    height: 150px;
    overflow-y: scroll;
    transition: all 0.7s;
  }

  #CheckboxWrapper .tag-container.opened {
    height: 494px;
  }