#Result {

}

  #Result .content {
    padding: 20px 20px 0 20px;
    height: 30%;
    box-sizing: border-box;
  }

    #Result .content h1 {
      margin: 0;
      font-weight: lighter;
      font-size: 40pt;
    }

    #Result .content h2 {
      margin: 3px 0 0 0;
      font-size: 20pt;
    }

    #Result .content h3 {
      margin: 15px 0 0 0;
      font-size: 15pt;
      font-weight: normal;
      color: #343434;
    }

    #Result .content label {
      margin: 3px 0 0 0;
      font-size: 9pt;
      font-weight: normal;
      color: #999999;
      line-height: 120%;
    }

  #Result .bottom-container {
    position: absolute;
    top: 30%;
    height: 70%;
    width: 100%;
    max-width: 800px;
  }

    #Result .bottom-container .map {
      position: relative;
      bottom: 0;
      top: 30%;
      height: 70%;
      width: 100%;
    }

@media screen and (max-width : 767px) {
  #Result .content { 
    padding: 0px 20px 0 20px;
  }

  #Result .content h1 {
    font-size: 27pt;
  }

  #Result .content h2 {
    margin: 3px 0 0 0;
    font-size: 13pt;
  }

  #Result .content h3 {
    margin: 8px 0 0 0;
    font-size: 12pt;
  }
}